@model databaseFirstAPP.Models.hangmanDataModel

@{

    ViewBag.Title = "gameBoard";

}

<h2>gameBoard</h2>
<br />
<br />
<br />
<center>
    <div style="text-align:center;">


        @foreach (var item_cat in Model.Unknown_letters)
            {
            <div style="font-family:monospace; font-size: 15px; width:150px; padding:20px; margin:20px 2px 20px 20px; display:inline; border-bottom:1px solid black;">@Html.DisplayFor(modelItem => item_cat)</div>
        }



    </div>
    <br/>
    <br />
    <br />
    <div style="text-align:center;">


        @foreach (var item_cat in Model.Word_Expl)
            {
            <div style="font-family:monospace; font-size: 15px; width:150px; padding:20px; margin:20px 2px 20px 20px; display:inline; border-bottom:1px solid black;">@Html.DisplayFor(modelItem => item_cat)</div>
        }



    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    @if (Model.Used_letters != null)
    {

        foreach (var item_cat in Model.Used_letters)
        {
            <div style="font-family:monospace; font-size: 20px; width:150px; padding:10px; margin:20px 2px 20px 20px; display:inline; border-bottom:1px solid black;">@Html.DisplayFor(modelItem => item_cat)</div>
        }
        <br />
        @Model.Nr_tries;
    }

    <div>
        <br />
        <br />
        <br />
        <br />
        @if (Model.Error_msg_word_al_inserted != null)
        {
            @Model.Error_msg_word_al_inserted;
        }

        <br />
        <br />
        <br />
        <br />
        <br />

        @using (Html.BeginForm("gameBoard", "Home", Model))
        {

            @Html.AntiForgeryToken()



            // 1----- passing word letter array
            foreach (var letter1 in Model.Word_Expl)
            {
                @Html.Hidden("exp_letter_array", letter1)
            }


            // 2----- passing unknown letter array
            foreach (var letter2 in Model.Unknown_letters)
            {
                @Html.Hidden("hid_letter_array", letter2)
            }



            // 3-----number of tries
            @Html.HiddenFor(m => m.Nr_tries)



            // 4-----list of used letters
            if (Model.Used_letters != null)
            {
                // passing list of used letters
                foreach (var letter3 in Model.Used_letters)
                {
                    @Html.Hidden("letras_usadas", letter3)
                }
            }



          

            // 5-----Letter used
            <input style="font-family:monospace; font-size:15px;" name="letter" type="text" size="1" maxlength="1" pattern="[a-z]" required />


            <br />
            <br />
            <p><input type="submit" value="Try your luck!" /> </p>

        }


    </div>

</center>